// $main: #16810E;
// $text: #202020;
// $add: #505050;
// $line: #BBC7D7;
// $bg: #F8FBFF;
// $white: #FFFFFF;
// $hover: #1AAA10;
// $green: #AFD3B1;
// $error: #F93232;
// $warning: #FFA800;
// $delimiter: #EDF3FC;

// $primary:       $main;
// $secondary:     $gray-600;
// $success:       $green;
// $info:          $cyan;
// $warning:       $yellow;
// $danger:        $error;

// $black: $text;

// $tablet-width: 768px;
// $desktop-width: 1200px;

// $container-max-widths: (
//   sm: 540px,
//   md: 736px,
//   lg: 736px,
//   xl: 1228px,
//   xxl: 1228px
// );

$accordion-button-focus-box-shadow: none;
$carousel-control-prev-icon-bg: url('@/assets/icons/carousel-prev.svg');
$carousel-control-next-icon-bg: url('@/assets/icons/carousel-next.svg');
$carousel-indicator-width: 8px;
$carousel-indicator-height: 8px;